<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-description> Wait, what are these numbers? </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="flex-component-column">
    <div class="mat-caption">
      <b>Power</b> is average pick order. <br>
      If you only picked Black Lotus in vintage cube (lucky!), you'd have a power of 1. <br>
      If you only picked Demolish in WAR-draft, you'd have a power of 264, because there are 264 cards in WAR.
    </div>
    <mat-divider></mat-divider>
    <div class="mat-caption">
      <b>Mana</b> is standard deviation of your mana symbols. <br>
      If it's high, your mana is all over the place. <br>
      If it's zero, you're playing mono-colored.
    </div>
    <mat-divider></mat-divider>
    <div class="mat-caption">
      <b>Curve</b> is offset from a perfect curve. <br>
      What is a perfect curve you ask? <br>
      Here, it's just the average from a bunch of limited games.
    </div>
  </div>
</mat-expansion-panel>