$size: 32px;

.app-right {
  right: -$size;
  padding: 4px;
  top: 41%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 4px 0 0 4px;

  .app-counter + .app-counter {
    margin-top: 4px;
  }
}
