.app-table {
  display: flex;
  width: 100%;
  flex-direction: column;

  .app-table-battlefield,
  .app-table-land {
    display: flex;
    flex: 1;
  }

  .app-table-hand {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    min-height: 150px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .app-table-small-zones {
    z-index: 1;
    margin-left: 8px;
    margin-bottom: 4px;

    .mat-expansion-panel-body {
      padding: 0;
      max-height: 133px;
      overflow-x: auto;
    }
  }

  .app-table-zones {
    display: flex;
    align-items: flex-end;
    flex: 1;
  }

  .app-card-display-as-image + .app-card-display-as-image {
    margin-left: 8px;
  }
}
