.app-draft {
  display: flex;
  flex-direction: column;
  align-items: center;

  .mat-form-field-infix {
    width: auto;
    min-width: 120px;
  }

  .mat-card {
    .mat-list {
      padding: 0;

      .mat-list-item {
        padding: 0;
        height: 24px;
      }

      .mat-list-item-content {
        padding: 0;
      }
    }
  }

  .mat-card-actions {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 16px;
    right: 16px;
    padding: 0;
  }

  .mat-card-content {
    max-height: 100px;
    min-height: 100%;
    overflow: auto;
  }
}

.app-top-limited .app-top-card {
  justify-content: space-between;
  align-items: baseline;
}