.app-arena-event {
  .mat-form-field-infix {
    min-width: 85px;
    width: auto;
  }

  .app-arena-event-layout {
    min-width: 750px;
  }

  .mat-checkbox {
    margin-left: 16px;
  }

  .app-top-card {
    justify-content: space-between;
  }
}
