@import '~@angular/material/theming';

@import 'src/app/main/main-theme.scss';
@import 'src/app/views/deck/deck-builder/_deck-builder-theme.scss';
@import 'src/app/views/deck/play-test/_play-test-theme.scss';

@import 'src/lib/components/data-grid/data-grid-theme.scss';
@import 'src/lib/components/card-display/card-display-theme.scss';
@import 'src/lib/components/card-browser/card-browser-theme.scss';
@import 'src/lib/components/layout/layout-theme.scss';
@import 'src/lib/core/sass-partials/_scroll-bar.scss';
@import 'src/lib/core/material-overrides/material-overrides.scss';
@import 'src/lib/core/sass-partials/component-positioning.scss';
@import 'src/lib/core/icon-registry/icon-theme.scss';


@include mat-core();

$primary: mat-palette($mat-blue-grey);
$accent:  mat-palette($mat-red, A200, A100, A400);
$theme: mat-dark-theme($primary, $accent);

@include angular-material-theme($theme);

@include main-theme($theme);
@include layout-theme($theme);
@include data-grid-theme($theme);
@include card-display-theme($theme);
@include card-browser-theme($theme);
@include scroll-bar-theme($theme);
@include component-positioning-theme($theme);
@include deck-builder-theme($theme);
@include play-test-theme($theme);
@include icon-theme($theme);
