.app-data-grid {
  display: flex;

  .app-data-grid-container {
    display: grid;
    width: 100%;
    grid-auto-rows: 72px;
    grid-row-gap: 1px;
    grid-column-gap: 1px;
    text-transform: capitalize;
  }

  .app-data-grid-item {
    padding: 16px;
  }

  .app-data-grid-card {
    padding: 0;
    width: 100%;
  }
}
