<mat-card class="app-data-grid-card">
  <div class="app-data-grid-container"
       [ngStyle]="gridStyle">

    <ng-container *ngFor="let arr of grid">
      <div class="app-data-grid-item"
           *ngFor="let val of arr">
        {{val}}
      </div>
    </ng-container>
  </div>
</mat-card>
